[Unit]
Description=Newsday delivery schedule timer
[Timer]
Unit=news-schedule.service
OnCalendar=*-*-* *:*:00
Persistent=true
[Install]
WantedBy=timers.target
